---
import Layout from "../layouts/Layout.astro";
import Controls from "../components/Controls.astro";
import ToDoList from "../components/ToDoList.astro";
import Lamp from "../components/Lamp.astro";

import "./index.css";
---

<Layout title="NookOffice">
	<Lamp />
	<main>
		<div class="video-feed">
			<div class="img-wrapper">
					let feedIndex = 1;
	function refreshGIF() {
		var feed = document.getElementById("feed");
		if (feed) {
			feedIndex = (feedIndex % 6) + 1;
			feed.setAttribute("src", `./video-feed/bg_${feedIndex}.gif`);
		}
	}

				<div class="dates">
					<p id="locale-date"></p>
					<p id="locale-time"></p>
				</div>
			</div>
			<Controls />
			<ToDoList />
		</div>
	</main>
</Layout>
